:root {
  --color: #4c52bc;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
input,
select,
textarea,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
img {
  border: 0;
}
:focus {
  outline: 0;
}
.clear {
  clear: both;
}

@font-face {
  font-family: "Graphik";
  src: url("../font/Graphik-Light.woff2") format("woff2"),
    url("../font/Graphik-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Graphik";
  src: url("../font/Graphik-Regular.woff2") format("woff2"),
    url("../font/Graphik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Graphik";
  src: url("../font/Graphik-Medium.woff2") format("woff2"),
    url("../font/Graphik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
html,
body {
  height: 100%;
  font-family: Graphik, sans-serif;
}

body {
  display: flex;
  overflow: auto;
}
.sidebar {
  width: 252px;
  background: var(--color);
  display: flex;
  flex-direction: column;
}

.sidebar .logo {
  padding: 10px 0 20px 42px;
}

.sidebar .logo a {
  display: block;
}

.sidebar .logo a i {
  color: #f8d9af;
}

.sidebar .menu ul li a {
  display: block;
  height: 48px;
  line-height: 48px;
  padding: 0 40px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}

.sidebar .menu ul li a:hover {
  color: white;
}

.sidebar .menu ul li.active a {
  color: #fff;
  background: linear-gradient(to left, transparent, rgba(255, 255, 255, 0.1));
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.sidebar .storage {
  padding: 0 40px 35px;
  margin-top: auto;
}
.sidebar .storage .title {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  align-items: center;
}
.sidebar .storage .title i {
  margin-right: 5px;
}

.sidebar .storage .title .percent {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: normal;
  margin-left: auto;
}

.sidebar .storage .bar {
  width: 100%;
  height: 6px;
  border-radius: 6px;
  background: #30358a;
  margin-top: 12px;
}

.sidebar .storage .bar span {
  width: auto;
  height: 6px;
  border-radius: 6px;
  background: #f8d9af;
  display: block;
}

.content {
  flex: 1;
  display: flex;
}
.content .inner {
  flex: 1;
  padding: 32px 65px;
  overflow: auto;
}

.content .inner .search {
  position: relative;
  margin-bottom: 60px;
}
.content .inner .search label {
  position: absolute;
  top: 0;
  left: 0;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8f94b8;
}

.content .inner .inner-box {
  margin-bottom: 60px;
}

.content .content-title {
  padding-bottom: 6px;
  display: flex;
  border-bottom: 1px solid #f6f7fa;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 35px;
}

.content .content-title::before {
  content: "";
  width: 38px;
  height: 4px;
  background: #c4e2e6;
  border-radius: 4px;
  position: absolute;
  bottom: -2px;
  left: 0;
}

.content .content-title h4 {
  font-size: 20px;
  color: #0e1b42;
  font-weight: normal;
}

.content .content-title a {
  font-size: 14px;
  color: #8186ad;
}

.content .content-title a i {
  font-size: 11px;
  margin-left: 8px;
}

.content .inner .search input {
  width: 340px;
  height: 44px;
  border-radius: 44px;
  background: rgba(202, 206, 231, 0.14);
  font-size: 14px;
  padding: 0 20px 0 50px;
  box-sizing: border-box;
}
.content .inner .search input::placeholder {
  color: #8f94b8;
}

.content .inner .inner-box .projects {
  display: flex;
  margin: 0 -7px;
}

.content .inner .inner-box .box {
  flex: 1;
  margin: 0 7px;
  height: 145px;
  border-radius: 12px;
  box-sizing: border-box;
}

.content .inner .inner-box .box.active {
  background: #f7f8fb;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content .inner .inner-box .box.active .box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .inner .inner-box .box.active .box-top i {
  color: #fbd199;
  font-size: 24px;
}

.content .inner .inner-box .box.active .box-top .box-shared {
  display: flex;
}

.content .inner .inner-box .box.active .box-top .box-shared img {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin-left: -10px;
  border: 2px solid #f7f8fb;
}

.content .inner .inner-box .box.active .box-title {
  display: flex;
  flex-direction: column;
  padding: 12px 0;
}

.content .inner .inner-box .box.active .box-title .name {
  font-size: 14px;
  font-weight: normal;
  color: #0e1b42;
  padding-bottom: 4px;
}

.content .inner .inner-box .box.active .box-title .task {
  font-size: 12px;
  color: #8186ad;
  margin-bottom: 12px;
}

.content .inner .inner-box .box.active .box-bar {
  width: 100%;
  height: 5px;
  background: #dde2ef;
  border-radius: 5px;
}

.content .inner .inner-box .box.active .box-bar span {
  width: auto;
  height: 5px;
  background: var(--color);
  border-radius: 5px;
  display: block;
  position: relative;
}

.content .inner .inner-box .box.active .box-bar span::before {
  content: attr(title);
  position: absolute;
  top: -15px;
  font-size: 10px;
  right: -6px;
  color: var(--color);
}

.content .inner .inner-box .box.empty {
  border: 2px dashed #e4e8f6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content .inner .inner-box .box.empty i {
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 50%;
  background: #f7f8fb;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  color: var(--color);
}

.content .inner .inner-box .box.empty .text {
  font-size: 12px;
  color: #132046;
}

.content .inner .inner-box .recents ul li {
  height: 64px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.content .inner .inner-box .recents ul li a.link {
  flex: 1;
  font-size: 14px;
  color: #0e1b42;
  display: flex;
  align-items: center;
}
.content .inner .inner-box .recents ul li:hover {
  background-color: #f4f5fa;
}
.content .inner .inner-box .recents ul li a.link i.fa-folder {
  font-size: 30px;
  color: #fbd199;
  margin-right: 10px;
}

.content .inner .inner-box .recents ul li a.link i.icon {
  width: 30px;
  height: 30px;
  background: var(--color);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  color: #fff;
}

.content .inner .inner-box .recents ul li a.link img {
  width: 30px;
  height: 30px;
  background: var(--color);
  border-radius: 6px;
}

.content .inner .inner-box .recents ul li .visibility,
.content .inner .inner-box .recents ul li .size,
.content .inner .inner-box .recents ul li .more {
  font-size: 12px;
  color: #8186ad;
  width: 100px;
  text-align: center;
}

.content .inner .inner-box .recents ul li .more {
  text-align: right;
  opacity: 0;
  font-size: 16px;
  color: #b1b4ce;
}

.content .inner .inner-box .recents ul:last-child img {
  margin-right: 10px;
}

.content .inner .inner-box .recents ul li:hover .more {
  opacity: 1;
}

.content .rightbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 360px;
  padding: 32px 0;
  border-left: 2px solid #f6f7fa;
}

.content .rightbar .sing {
  display: flex;
  margin-bottom: 40px;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  align-items: center;
  margin-right: 40px;
}

.content .rightbar .sing .login {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.content .rightbar .notification i {
  font-size: 25px;
  color: #8186ad;
}

.content .rightbar .sing .login .name {
  display: flex;
  font-size: 16px;
  font-weight: normal;
}
.content .rightbar .sing .login .fa {
  margin-left: 8px;
  color: #8186ad;
  font-size: 12px;
}
.content .rightbar .sing .login img {
  width: 60px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 40px;
}

.content .rightbar .liste .part {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 30px;
  align-items: flex-start;
  margin-right: 20px;
}

.content .rightbar .liste .part .side-img {
  display: flex;
}
.content .rightbar .liste .part .side-img img {
  width: 100px;
  margin-left: 5px;
  margin-top: 10px;
}

.content .rightbar .content-title {
  width: 260px;
  padding-bottom: 6px;
  left: 40px;
}

.content .rightbar .liste .part .text {
  font-size: 13px;
  max-width: 230px;
  font-weight: normal;
  color: #0e1b42;
  line-height: 20px;
}

.content .rightbar .liste .part .time {
  color: #132046;
  font-size: 12px;
  padding-top: 5px;
}

.content .rightbar .liste .part:not(:last-child) .dot::after {
  position: absolute;
  content: "";
  background: #f4f5fa;
  width: 2px;
  height: 60px;
  left: 9px;
  top: 9px;
}
.content .rightbar .liste .part .dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #f4f5fa;
  position: relative;
  left: 5px;
}

.content .rightbar .liste .part .dot .nokta {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(65, 63, 63, 0.5);
  left: 5px;
  top: 5px;
  z-index: 5;
}

.content .rightbar .liste .part .dot .nokta {
  background: #b0b0b3;
}

.content .rightbar .liste .part .dot .nokta.sari {
  background: #f8d9af;
}

.content .rightbar .liste .part .dot .nokta.mavi {
  background: #c4e2e6;
}

.content .rightbar .liste .part .dot .nokta.turunc {
  background: #f8b680;
}

.content .rightbar .alan {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 500px;
  border: 1px solid #b0b0b3;
  border-radius: 6px;
  margin-left: 30px;
  margin-top: 10px;
  position: relative;
}

.content .rightbar .alan img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 67%;
  top: 20px;
}

.content .rightbar .alan .fas {
  position: relative;
  left: 273px;
  top: 15px;
  font-size: 14px;
  color: #b0b0b3;
}

.content .rightbar .alan h4 {
  position: relative;
  margin-top: 18px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-weight: 500;
}

.content .rightbar .alan p {
  position: relative;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  font-weight: 300;
  color: #b0b0b3;
}
